<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Absence</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_absence" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_absence" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des absences</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">N°</th>
                                    <th width="20%">Employé</th>
                                    <th width="15%">Libellé</th>
                                    <th width="15%">date_debut_abs</th>
                                    <th width="15%">date_fin_prev</th>
                                    <th width="15%">date_reprise</th>
                                    <th width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="abs,state :${absences}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${abs.employe.matricule}"></td>
                                    <td th:text="${abs.motif_absence.libelle_motif_absence}"></td>
                                    <td th:text="${abs.date_debut_abs}"></td>
                                    <td th:text="${abs.date_fin_prev}"></td>
                                    <td th:text="${abs.date_reprise}"></td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_absence" href="#"
                                           role="button" data-toggle="modal" th:data="${abs.id}" data-target="#modal_form_absence">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_absence" href="#" th:data="${abs.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_absence" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_absence" th:action="@{/addAbsence}" th:object="${absence}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="absenceId" />
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label class="control-label">Employé</label>
                                    <select th:field="*{employe}" class="form-control" id="employe">
                                        <option value=""> --- </option>
                                        <option th:each="emp : ${employes}"
                                                th:value="${emp.id}"
                                                th:utext="${emp.prenom+' '+emp.nom}"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Motif absence</label>
                                    <select th:field="*{motif_absence}" class="form-control" id="motif_absence">
                                        <option value=""> --- </option>
                                        <option th:each="motif : ${motifAbsences}"
                                                th:value="${motif.id}"
                                                th:utext="${motif.libelle_motif_absence}"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Date de début</label>
                                    <input id="date_debut_abs" th:field="*{date_debut_abs}" class="form-control" type="date" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Date de fin</label>
                                    <input id="date_fin_prev" th:field="*{date_fin_prev}" class="form-control" type="date">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Date de repise</label>
                                    <input id="date_reprise" th:field="*{date_reprise}" class="form-control" type="date">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Etat</label>
                                    <select name="etat" id="etat" th:field="*{etat}" class="form-control">
                                        <option value="1">Actif</option>
                                        <option value="0">Inactif</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un absence</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeAbsence}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="absence_id" name="absenceId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_absence").click(function () {
            $('#motif_absence').val("");
            $('#employe').val("");
            $('#date_reprise').val("");
            $('#title').text("Nouvel absence");
        });
        $('#datatable tbody').on('click','.edit_absence',function () {
            $('#title').text("Edit d'un absence");
            $('#save').val("Mèttre à jour");
            var idabsence = $(this).attr('data');
            $.ajax({
                url:'/absence/'+idabsence,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#employe').val(data.employe.id);
                    $('#motif_absence').val(data.motif_absence.id);
                    $('#date_debut_abs').val(data.date_debut_abs);
                    $('#date_fin_prev').val(data.date_fin_prev);
                    $('#etat').val(data.etat);
                    $('#date_reprise').val(data.date_reprise);
                    $('#absenceId').val(data.id);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_absence').click(function () {
            var data = $(this).attr("data");
            $('#absence_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
