<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Contrats</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_contrat" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_contrat" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des contrats</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">N°</th>
                                    <th width="20%">Employé</th>
                                    <th width="20%">Date debut</th>
                                    <th width="20%">Date fin</th>
                                    <th width="20%">Contrat</th>
                                    <th width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ctr,state :${contrats}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${ctr.employe.matricule}"></td>
                                    <td th:text="${ctr.date_debut}"></td>
                                    <td th:text="${ctr.date_fin}"></td>
                                    <td th:text="${ctr.type_contrat.libelle_type_contrat}"></td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_contrat" href="#"
                                           role="button" data-toggle="modal" th:data="${ctr.id}" data-target="#modal_form_contrat">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_contrat" href="#" th:data="${ctr.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_contrat" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_contrat" th:action="@{/addContrat}" th:object="${contrat}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="contratId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">date_debut</label>
                                    <input id="date_debut" th:field="*{date_debut}" class="form-control" type="date">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">date_fin</label>
                                    <input id="date_fin" th:field="*{date_fin}" class="form-control" type="date">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Employé</label>
                                    <select th:field="*{employe}" class="form-control" id="employe">
                                        <option value=""> --- </option>
                                        <option th:each="emp : ${employes}"
                                                th:value="${emp.id}"
                                                th:utext="${emp.prenom+' '+emp.nom}"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Type contrats</label>
                                    <select th:field="*{type_contrat}" class="form-control" id="type_contrat">
                                        <option value=""> --- </option>
                                        <option th:each="tc : ${typeContrats}"
                                                th:value="${tc.id}"
                                                th:utext="${tc.libelle_type_contrat}"/>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un contrat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeContrat}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="contrat_id" name="contratId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_contrat").click(function () {
            $('#employe').val("");
            $('#date_debut').val("");
            $('#type_contrat').val("");
            $('#date_fin').val("");
            $('#title').text("Nouvel d'un contrat");
        });
        $('#datatable tbody').on('click','.edit_contrat',function () {
            $('#title').text("Edit d'un contrat");
            $('#save').val("Mèttre à jour");
            var idcontrat = $(this).attr('data');
            $.ajax({
                url:'/contrat/'+idcontrat,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#employe').val(data.employe.id);
                    $('#date_debut').val(data.date_debut);
                    $('#type_contrat').val(data.type_contrat.id);
                    $('#contratId').val(data.id);
                    $('#date_fin').val(data.date_fin);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_contrat').click(function () {
            var data = $(this).attr("data");
            $('#contrat_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
