<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Départements</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_departement" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_departement" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des departements</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">N°</th>
                                    <th width="30%">Code</th>
                                    <th width="30%">Description</th>
                                    <th width="20%">Etat</th>
                                    <th width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dpt,state :${departements}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${dpt.code_departement}"></td>
                                    <td th:text="${dpt.description_departement}"></td>
                                    <td th:switch="${dpt.etat_departement}">
                                        <span th:case="1" class='btn btn-icon waves-effect waves-light btn-success btn-xs m-b-5'><i class='fa fa-toggle-on fa-lg'></i></span>
                                        <span th:case="0" class='btn btn-icon waves-effect waves-light btn-danger btn-xs m-b-5'><i class='fa fa-toggle-on fa-lg'></i></span>
                                    </td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_departement" href="#"
                                           role="button" data-toggle="modal" th:data="${dpt.id}" data-target="#modal_form_departement">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_departement" href="#" th:data="${dpt.id}" id="remove">
<!--                                           role="button" data-toggle="modal" data-target="#confirmModal">-->
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_departement" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_departement" th:action="@{/addDepartement}" th:object="${departement}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="departementId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Code departement</label>
                                    <input id="code_departement" th:field="*{code_departement}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <input id="description_departement" th:field="*{description_departement}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Etat</label>
                                    <select name="etat_departement" id="etat_departement" th:field="*{etat_departement}" class="form-control">
                                        <option value="1">Actif</option>
                                        <option value="0">Inactif</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un departement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeDepartement}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="departement_id" name="departementId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_departement").click(function () {
            $('#code_departement').val("");
            $('#description_departement').val("");
            $('#etat_departement').val("");
            $('#title').text("Nouvel d'un département");
        });
        $('#datatable tbody').on('click','.edit_departement',function () {
            $('#title').text("Edit d'un departement");
            $('#save').val("Mèttre à jour");
            var iddepartement = $(this).attr('data');
            $.ajax({
                url:'/departement/'+iddepartement,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#code_departement').val(data.code_departement);
                    $('#description_departement').val(data.description_departement);
                    $('#departementId').val(data.id);
                    $('#etat_departement').val(data.etat_departement);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_departement').click(function () {
<!--           Swal.fire({-->
<!--              title: 'Do you want to save the changes?',-->
<!--              showDenyButton: true,-->
<!--              showCancelButton: true,-->
<!--              confirmButtonText: 'Save',-->
<!--              denyButtonText: `Don't save`,-->
<!--            }).then((result) => {-->
<!--              /* Read more about isConfirmed, isDenied below */-->
<!--              if (result.isConfirmed) {-->
<!--                //Swal.fire('Saved!', '', 'success')-->
<!--              } else if (result.isDenied) {-->
<!--                Swal.fire('Changes are not saved', '', 'info')-->
<!--              }-->
<!--            });-->
            var data = $(this).attr("data");
            $('#departement_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
