<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Diplôme académiques</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_diplome_academique" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_diplome_academique" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des diplômes academiques</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">N°</th>
                                    <th width="20%">Code</th>
                                    <th width="40%">Description</th>
                                    <th width="20%">Etat</th>
                                    <th width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dplAcad,state :${diplome_academiques}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${dplAcad.code_dipl_acad}"></td>
                                    <td th:text="${dplAcad.libelle_dipl_acad}"></td>
                                    <td th:text="${dplAcad.etat_dipl_acad}"></td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_diplome_academique" href="#"
                                           role="button" data-toggle="modal" th:data="${dplAcad.id}" data-target="#modal_form_diplome_academique">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_diplome_academique" href="#" th:data="${dplAcad.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_diplome_academique" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_diplome_academique" th:action="@{/addDiplomeAcademique}" th:object="${diplome_academique}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="diplome_academiqueId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Code diplome_academique</label>
                                    <input id="code_dipl_acad" th:field="*{code_dipl_acad}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">libelle diplôme acad</label>
                                    <input id="libelle_dipl_acad" th:field="*{libelle_dipl_acad}" class="form-control" type="text" required>
                                </div>


                                <div class="form-group">
                                    <label class="control-label">Etat</label>
                                    <select name="etat_dipl_acad" id="etat_dipl_acad" th:field="*{etat_dipl_acad}" class="form-control">
                                        <option value="1">Actif</option>
                                        <option value="0">Inactif</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un diplome_academique</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeDiplomeAcademique}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="diplome_academique_id" name="diplome_academiqueId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_diplome_academique").click(function () {
            $('#code_dipl_acad').val("");
            $('#libelle_dipl_acad').val("");
            $('#institut_ecole_prof').val("");
            $('#etat_dipl_acad').val("");
            $('#title').text("Nouvel d'un diplôme");
        });

        $('#datatable tbody').on('click','.edit_diplome_academique',function () {
            $('#title').text("Edit d'un diplome_academique");
            $('#save').val("Mèttre à jour");
            var diplacad = $(this).attr('data');
            $.ajax({
                url:'/diplome_academique/'+diplacad,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#code_dipl_acad').val(data.code_dipl_acad);
                    $('#libelle_dipl_acad').val(data.libelle_dipl_acad);
                    $('#universite_ecole_institut').val(data.universite_ecole_institut.id);
                    $('#diplome_academiqueId').val(data.id);
                    $('#etat_dipl_acad').val(data.etat_dipl_acad);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_diplome_academique').click(function () {
            var data = $(this).attr("data");
            $('#diplome_academique_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
