<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Ecole-Université</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_ecole" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_ecole" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des ecoles</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">N°</th>
                                    <th width="30%">Code</th>
                                    <th width="30%">Description</th>
                                    <th width="20%">Eta</th>
                                    <th width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ecol,state :${ecoles}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${ecol.code_ecole}"></td>
                                    <td th:text="${ecol.libelle_ecole}"></td>
                                    <td th:text="${ecol.etat_ecole}"></td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_ecole" href="#"
                                           role="button" data-toggle="modal" th:data="${ecol.id}" data-target="#modal_form_ecole">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_ecole" href="#" th:data="${ecol.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_ecole" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_ecole" th:action="@{/addEcole}" th:object="${universite_ecole_institut}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="ecoleId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Code ecole</label>
                                    <input id="code_ecole" th:field="*{code_ecole}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <input id="libelle_ecole" th:field="*{libelle_ecole}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Etat</label>
                                    <select name="etat_ecole" id="etat_ecole" th:field="*{etat_ecole}" class="form-control">
                                        <option value="1">Actif</option>
                                        <option value="0">Inactif</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un ecole</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeEcole}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="ecole_id" name="ecoleId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_ecole").click(function () {
            $('#code_ecole').val("");
            $('#libelle_ecole').val("");
            $('#etat_ecole').val("");
            $('#title').text("Nouvel d'un université");
        });

        $('.edit_ecole').click(function () {
            $('#title').text("Edit d'un ecole");
            $('#save').val("Mèttre à jour");
            var idecole = $('.edit_ecole').attr('data');
            $.ajax({
                url:'/ecole/'+idecole,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#code_ecole').val(data.code_ecole);
                    $('#libelle_ecole').val(data.libelle_ecole);
                    $('#ecoleId').val(data.id);
                    $('#etat_ecole').val(data.etat_ecole);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_ecole').click(function () {
            var data = $(this).attr("data");
            $('#ecole_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
