<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Employés poste</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_employe_poste" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_employe_poste" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des employés</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th width="1%">N°</th>
                                        <th width="29%">Employés</th>
                                        <th width="20%">Code_poste</th>
                                        <th width="20%">Date début</th>
                                        <th width="20%">Date fin</th>
                                        <th width="10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="empPoste,state :${employe_postes}">
                                        <td th:text="${state.count}"></td>
                                        <td th:text="${empPoste.employe.prenom+' '+empPoste.employe.nom}"></td>
                                        <td th:text="${empPoste.poste.code_poste}"></td>
                                        <td th:text="${#dates.format(empPoste.date_debut, 'dd/MM/yyyy')}"></td>
                                        <td th:text="${#dates.format(empPoste.date_fin, 'dd/MM/yyyy')}"></td>
                                        <td>
                                            <a class="btn btn-warning btn-xs edit_employe_poste" href="#"
                                                role="button" data-toggle="modal" th:data="${empPoste.id}" data-target="#modal_form_employe_poste">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger btn-xs remove_employe_poste" href="#" th:data="${empPoste.id}" id="remove"
                                                    role="button" data-toggle="modal" data-target="#confirmModal">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_employe_poste" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_employe_poste" th:action="@{/addEmployePoste}" th:object="${employe_poste}" method="post">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="employePosteId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Employé</label>
                                    <select th:field="*{employe}" class="form-control" id="employe">
                                        <option value=""> --- </option>
                                        <option th:each="emp : ${employes}"
                                                th:value="${emp.id}"
                                                th:utext="${emp.prenom+' '+emp.nom}"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Postes</label>
                                    <select th:field="*{poste}" class="form-control" id="poste">
                                        <option value=""> --- </option>
                                        <option th:each="pos : ${postes}"
                                                th:value="${pos.id}"
                                                th:utext="${pos.libelle_poste}"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Date de début</label>
                                    <input id="date_debut" th:field="*{date_debut}" class="form-control" type="date">
                                </div>

<!--                                <div class="form-group">-->
<!--                                    <label class="control-label">Date de fin</label>-->
<!--                                    <input id="date_fin" th:field="*{date_fin}" class="form-control" type="date">-->
<!--                                </div>-->

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un employé</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeEmployePoste}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="employe_poste_id" name="employe_posteId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_employe_poste").click(function () {
            $('#employe').val("");
            $('#poste').val("");
            $('#title').text("Nouveau");
            $('#save').val("Enregistrer");
            $('#employePosteId').val(0);
        });

        $('.edit_employe_poste').click(function () {
            $('#title').text("Edit d'un employé");
            $('#save').val("Mèttre à jour");
            var idemployeposte = $('.edit_employe_poste').attr('data');
            $.ajax({
                url:'/employe_poste/'+idemployeposte,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#employe').val(data.employe.id);
                    $('#poste').val(data.poste.id);
                    $('#date_debut').val(data.date_debut);
                    $('#employePosteId').val(data.id);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_employe_poste').click(function () {
            var data = $(this).attr("data");
            $('#employe_poste_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
