<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" th:href="@{/assets/images/embleme_senegal.ico}">
    <title>Employés</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_emp" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_emp" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des employés</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th width="1%">N°</th>
                                        <th width="9%">Matricule</th>
                                        <th width="25%">Prénom</th>
                                        <th width="25%">Nom</th>
                                        <th width="20%">Date naissance</th>
                                        <th width="20%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="emp,state :${employes}">
                                        <td th:text="${state.count}"></td>
                                        <td th:text="${emp.matricule}"></td>
                                        <td th:text="${emp.prenom}"></td>
                                        <td th:text="${emp.nom}"></td>
                                        <td th:text="${emp.date_naissance}"></td>
                                        <td>
                                            <a class="btn btn-warning btn-xs edit_emp" href="#"
                                                role="button" data-toggle="modal" th:data="${emp.id}" data-target="#modal_form_emp" title="Modifier employé">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger btn-xs remove_emp" href="#" th:data="${emp.id}" id="remove"
                                                    role="button" data-toggle="modal" data-target="#confirmModal" title="supprimer employé">
                                                <i class="fa fa-trash"></i>
                                            </a>

                                            <a  class="btn btn-info btn-xs" th:href="@{/profilea(id=${emp.id})}" data-toggle="tooltip" data-placement="top" title="Profile employé">
                                                <i class="fa fa-eye"></i>
                                            </a>

                                            <a class="btn btn-purple btn-xs archive_emp" href="#" th:data="${emp.id}" id="archive"
                                               role="button" data-toggle="modal" data-target="#archiveModal" title="Archiver employé">
                                                <i class="fa fa-sign-out"></i>
                                            </a>

                                            <a  class="btn btn-default btn-xs" th:href="@{/evaluer(id=${emp.id})}" data-toggle="tooltip" data-placement="top" title="Evalué employé">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                            <a  class="btn btn-btn-default btn-xs" th:href="@{/entretiensannuel(id=${emp.id})}" data-toggle="tooltip" data-placement="top" title="Evalué employé">
                                                <i class="fa fa-calendar-o"></i>
                                            </a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_emp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_employe" th:action="@{/addEmploye}" th:object="${employe}" method="post">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="employeId" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Matricule</label>
                                    <input id="matricule" th:field="*{matricule}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">IEN</label>
                                    <input id="ien" th:field="*{ien}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Prénom</label>
                                    <input id="prenom" th:field="*{prenom}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Nom</label>
                                    <input id="nom" th:field="*{nom}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Sexe</label>
                                    <select name="sexe" id="sexe" th:field="*{sexe}" class="form-control">
                                        <option value="M">M</option>
                                        <option value="F">F</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Date de naissance</label>
                                    <input id="date_naissance" th:field="*{date_naissance}" class="form-control" type="date" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Lieu de naissance</label>
                                    <input id="lieu_naissance" th:field="*{lieu_naissance}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">CNI</label>
                                    <input id="cni" th:field="*{cni}" class="form-control" type="text" required>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Téléphone prof</label>
                                    <input id="telephone_prof" th:field="*{telephone_prof}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Téléphone personnel</label>
                                    <input id="telephone_pers" th:field="*{telephone_pers}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Email personnel</label>
                                    <input id="email_prof" th:field="*{email_prof}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Email personnel</label>
                                    <input id="email_pers" th:field="*{email_pers}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Corps</label>
                                    <select th:field="*{corps}" class="form-control" id="corps">
                                        <option value=""> --- </option>
                                        <option th:each="corp : ${corps}"
                                                th:value="${corp.id}"
                                                th:utext="${corp.libelle_corps}"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Grade</label>
                                    <select th:field="*{grade}" class="form-control" id="grade">
                                        <option value=""> --- </option>
                                        <option th:each="grad : ${grades}"
                                                th:value="${grad.id}"
                                                th:utext="${grad.libelle_grade}"/>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label class="control-label">Adresse</label>
                                    <input id="adresse" th:field="*{adresse}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Date de crutement</label>
                                    <input id="date_recrutement" th:field="*{date_recrutement}" class="form-control" type="date" required>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un employé</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeEmploye}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="employe_id" name="employeId">
                </form>
            </div>
        </div>
    </div>


    <!-- Archiver un employé -->
    <div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="archiveModalLabel">Archiver d'un employé</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formArchive" method="post" th:action="@{/archiveEmploye}">
                    <div class="modal-body" id="contentArchive">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="employe_id2" name="employeId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_emp").click(function () {
            //$('#form1').attr('action','/addEmploye');
            $('#matricule').val("");
            $('#prenom').val("");
            $('#nom').val("");
            $('#sexe').val("");
            $('#date_naissance').val("");
            $('#lieu_naissance').val("");
            $('#cni').val("");
            $('#telephone_pers').val("");
            $('#telephone_prof').val("");
            $('#email_prof').val("");
            $('#email_pers').val("");
            $('#date_recrutement').val("");
            $('#adresse').val("");
            $('#ien').val("");
            $('#title').text("Nouvel employé");
            $('#save').val("Enregistrer");
            $('#grade').val(0);
            $('#corps').val(0);
            $('#employeId').val(0);
        });

         $('#datatable tbody').on('click','.edit_emp',function () {

            $('#title').text("Edit d'un employé");
            $('#save').val("Mèttre à jour");
            var idemploye = $(this).attr('data');
            $.ajax({
                url:'/employe/'+idemploye,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#matricule').val(data.matricule);
                    $('#prenom').val(data.prenom);
                    $('#nom').val(data.nom);
                    $('#date_naissance').val(data.date_naissance);
                    $('#lieu_naissance').val(data.lieu_naissance);
                    $('#sexe').val(data.sexe);
                    $('#cni').val(data.cni);
                    $('#telephone_prof').val(data.telephone_prof);
                    $('#telephone_pers').val(data.telephone_pers);
                    $('#email_prof').val(data.email_prof);
                    $('#email_pers').val(data.email_pers);
                    $('#corps').val(data.corps.id);
                    $('#grade').val(data.grade.id);
                    $('#adresse').val(data.adresse);
                    $('#date_recrutement').val(data.date_recrutement);
                    $('#ien').val(data.ien);
                    $('#employeId').val(data.id);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });

        $('#datatable tbody').on('click','.remove_emp',function () {
            var data = $(this).attr("data");
            $('#employe_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

        $('#datatable tbody').on('click','.archive_emp',function () {
            var data = $(this).attr("data");
            $('#employe_id2').val(data);
            $('#contentArchive').empty();
            $('#contentArchive').append('Êtes-vous sûre de vouloir archiver cet employé ?');
        });

    });
</script>
