<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Affecter</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_employe_dpt" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_employe_dpt" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Affectations employés département</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th width="1%">N°</th>
                                        <th width="29%">Employés</th>
                                        <th width="10%">Code département</th>
                                        <th width="20%">Date début</th>
                                        <th width="20%">Date fin</th>
                                        <th width="10%">Etat</th>
                                        <th width="10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="empDpt,state :${employe_departements}">
                                        <td th:text="${state.count}"></td>
                                        <td th:text="${empDpt.employe.prenom+' '+empDpt.employe.nom}"></td>
                                        <td th:text="${empDpt.departement.code_departement}"></td>
                                        <td th:text="${#dates.format(empDpt.date_debut, 'dd/MM/yyyy')}"></td>
                                        <td th:text="${#dates.format(empDpt.date_fin, 'dd/MM/yyyy')}"></td>
                                        <td th:switch="${empDpt.etat}">
                                            <span th:case="1" class='btn btn-icon waves-effect waves-light btn-success btn-xs m-b-5'><i class='fa fa-toggle-on fa-lg'></i></span>
                                            <span th:case="0" class='btn btn-icon waves-effect waves-light btn-danger btn-xs m-b-5'><i class='fa fa-toggle-on fa-lg'></i></span>
                                        </td>
                                        <td>
                                            <a class="btn btn-warning btn-xs edit_employe_dpt" href="#"
                                                role="button" data-toggle="modal" th:data="${empDpt.id}" data-target="#modal_form_employe_dpt">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger btn-xs remove_employe_dpt" href="#" th:data="${empDpt.id}" id="remove"
                                                    role="button" data-toggle="modal" data-target="#confirmModal">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_employe_dpt" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_employe_dpt" th:action="@{/addEmployeDepartement}" th:object="${employe_departement}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="employeDptId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Employé</label>
                                    <select th:field="*{employe}" class="form-control" id="employe">
                                        <option value=""> --- </option>
                                        <option th:each="emp : ${employes}"
                                                th:value="${emp.id}"
                                                th:utext="${emp.prenom+' '+emp.nom}"></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Départements</label>
                                    <select th:field="*{departement}" class="form-control" id="departement">
                                        <option value=""> --- </option>
                                        <option th:each="dpt : ${departements}"
                                                th:value="${dpt.id}"
                                                th:utext="${dpt.code_departement}"></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Date de début</label>
                                    <input id="date_debut" th:field="*{date_debut}" class="form-control" type="date">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Date de fin</label>
                                    <input id="date_fin" th:field="*{date_fin}" class="form-control" type="date">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Etat</label>
                                    <select name="etat" id="etat" th:field="*{etat}" class="form-control">
                                        <option value="1">Actif</option>
                                        <option value="0">Inactif</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un employé</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeEmployeDepartement}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="employe_departementId" name="employe_departementId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_employe_dpt").click(function () {
            $('#employe').val("");
            $('#departement').val("");
            $('#title').text("Nouvel employé");
            $('#save').val("Enregistrer");
            $('#employeDptId').val(0);
        });
        $('#datatable tbody').on('click','.edit_employe_dpt',function () {
            $('#title').text("Edit d'un employé");
            $('#save').val("Mèttre à jour");

            var idemployedpt = $(this).attr('data');
            $.ajax({
                url:'/employe_departement/'+idemployedpt,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#employe').val(data.employe.id);
                    $('#departement').val(data.departement.id);
                    $('#etat').val(data.etat);
                    $('#date_debut').val(data.date_debut);
                    $('#date_fin').val(data.date_fin);
                    $('#employeDptId').val(data.id);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });

        $('#datatable tbody').on('click','.remove_employe_dpt',function () {
            var data = $(this).attr("data");
            $('#employe_departementId').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
