<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Employés dipl acad</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_employe_diplome_academique" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_employe_diplome_academique" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des employe_diplome_academiques</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">N°</th>
                                    <th width="20%">Diplôme</th>
                                    <th width="20%">Employé</th>
                                    <th width="20%">Université</th>
                                    <th width="20%">Date</th>
                                    <th width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="empdiplacad,state :${employe_diplome_academiques}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${empdiplacad.diplome_academique.code_dipl_acad}"></td>
                                    <td th:text="${empdiplacad.employe.matricule}"></td>
                                    <td th:text="${empdiplacad.universite_ecole_institut.code_ecole}"></td>
                                    <td th:text="${empdiplacad.date_dipl_acad}"></td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_employe_diplome_academique" href="#"
                                           role="button" data-toggle="modal" th:data="${empdiplacad.id}" data-target="#modal_form_employe_diplome_academique">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_employe_diplome_academique" href="#" th:data="${empdiplacad.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_employe_diplome_academique" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_employe_diplome_academique" th:action="@{/addEmployeDiplomeAcademique}" th:object="${employe_diplome_academique}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="employe_diplome_academiqueId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Employé</label>
                                    <select th:field="*{employe}" class="form-control" id="employe">
                                        <option value=""> --- </option>
                                        <option th:each="emp : ${employes}"
                                                th:value="${emp.id}"
                                                th:utext="${emp.prenom+' '+emp.nom}"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Diplôme académiques</label>
                                    <select th:field="*{diplome_academique}" class="form-control" id="diplome_academique">
                                        <option value=""> --- </option>
                                        <option th:each="diplacad : ${diplome_academiques}"
                                                th:value="${diplacad.id}"
                                                th:utext="${diplacad.code_dipl_acad}"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Université/Ecole/Institut</label>
                                    <select th:field="*{universite_ecole_institut}" class="form-control" id="universite_ecole_institut">
                                        <option value=""> --- </option>
                                        <option th:each="ecole : ${universite_ecole_instituts}"
                                                th:value="${ecole.id}"
                                                th:utext="${ecole.code_ecole}"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Date de début</label>
                                    <input id="date_dipl_acad" th:field="*{date_dipl_acad}" class="form-control" type="date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un employe_diplome_academique</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeEmployeDiplomeAcademique}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="employe_diplome_academique_id" name="employe_diplome_academiqueId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_employe_diplome_academique").click(function () {
            $('#employe').val("");
            $('#diplome_academique').val("");
            $('#date_dipl_acad').val("");
            $('#title').text("Nouvel d'un département");
        });

        $('.edit_employe_diplome_academique').click(function () {
            $('#title').text("Edit d'un employe_diplome_academique");
            $('#save').val("Mèttre à jour");
            var empdiplacad = $(this).attr('data');
            $.ajax({
                url:'/employe_diplome_academique/'+empdiplacad,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#employe').val(data.employe.id);
                    $('#diplome_academique').val(data.diplome_academique.id);
                    $('#universite_ecole_institut').val(data.universite_ecole_institut.id);
                    $('#employe_diplome_academiqueId').val(data.id);
                    $('#date_dipl_acad').val(data.date_dipl_acad);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_employe_diplome_academique').click(function () {
            var data = $(this).attr("data");
            $('#employe_diplome_academique_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
