<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Entretien</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <span class="label label-info" th:text="${employe.prenom+' '+employe.nom}"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Entretien - Poste : <span class="label label-danger" th:text="${poste.libelle_poste}"></span></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <form id="form_id" method="POST">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Analyse</th>
                                            <th>Libellé</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <input type="hidden" id="employe" name="employe" th:value="${employe.id}">
                                            <td><span class="label label-info text-center">Qualification</span></td>
                                            <td>
                                                <table>
                                                    <tr th:each="q,state :${qualifications}">
                                                        <td>
                                                            <input type="radio" name="qualification" th:value="${q.id}" class="form-check-input entretien" required>
                                                            <span th:text="${q.libelle_qualification}"></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="label label-primary">Efficacité</span></td>
                                            <td>
                                               <table>
                                                   <tr th:each="e,state :${efficacites}">
                                                       <td>
                                                           <input type="radio" name="efficacite" th:value="${e.id}" class="form-check-input entretien" required>
                                                           <span th:text="${e.libelle_efficacite}"></span>
                                                       </td>
                                                   </tr>
                                               </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="label label-success">Potentiel</span></td>
                                            <td>
                                                <table>
                                                    <tr th:each="p,state :${potentiels}">
                                                        <td>
                                                            <input type="radio" name="potentiel" th:value="${p.id}" class="form-check-input entretien" required>
                                                            <span th:text="${p.libelle_potentiel}"></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-primary btn pull-right" id="btn_submit"><span class="fa fa-check"></span> Valider</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {
        $("#btn_submit").on("click",function(){
            $.ajax({
                url: "addEntretien",
                type: "POST",
                dataType: "json",
                data: $('#form_id').serialize(),
                contentType: "application/json;charset=utf-8",
                    success: function (result) {
                        $.Notification.autoHideNotify('success', 'bottom right', 'Alerte', 'Entretien enregistrée avec succes')
                        window.location.replace("employes");
                    },
                    error: function (errormessage) {
                       alert(errormessage.responseText);
                    }
            });
        });
    });
</script>
