<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Evaluation</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <span class="label label-primary" th:text="${employe.prenom+' '+employe.nom}"></span>
            <span class="label label-danger" th:text="${poste.libelle_poste}"></span>
        </div>
    </div>
    <div class="row">
        <!-- Basic Form Wizard -->
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">FICHE D'EVALUATION</h3>
                    </div>
                    <div class="panel-body">
                        <!--<form id="basic-form" action="#">-->
                        <form action="#" id="wizard-validation-form" th:action="@{/addEvaluation}" th:object="${evaluation}" method="post">
                            <div>
                                <h3>Savoir</h3>
                                <section>
                                    <div class="panel-body">
                                        <ul th:each="cpt,state :${competences}">
                                            <div th:if="${cpt.categorie.id==1}">
                                                <span class="badge badge-primary" th:text="${state.count}"></span>
                                                <span th:text="${cpt.libelle_competence}"></span>
                                                <select  name="nivsr" id="nivsr" class="nivsr">
                                                    <option th:each="mtrs : ${maitrises}"
                                                            th:value="${cpt+'-'+employe+'-'+mtrs}"
                                                            th:utext="${mtrs.libelle_maitrise}"/>
                                                </select>
                                                <!--<select th:field="*{competence}" name="nivsr" id="nivsr">-->
                                                    <!--<option th:each="niveauMaitriseRCpt : ${T(com.gpec.model.NiveauMaitriseRCpt).values()}"-->
                                                             <!--th:value="${cpt.id+'-'+employe.id+'-'+niveauMaitriseRCpt}" th:text="${niveauMaitriseRCpt}"></option>-->
                                                <!--</select>-->
                                            </div>
                                            
                                        </ul>
                                    </div>
                                </section>
                                <h3>Savoir-faire</h3>
                                <section>
                                    <div class="panel-body">
                                        <ul th:each="cpt,state :${competences}">
                                            <div th:if="${cpt.categorie.id==2}">
                                                <span class="badge badge-primary" th:text="${state.count}"></span>
                                                <span th:text="${cpt.libelle_competence}"></span>
                                                <select  name="nivsr"  class="nivsr">
                                                    <option th:each="mtrs : ${maitrises}"
                                                            th:value="${cpt+'-'+employe+'-'+mtrs}"
                                                            th:utext="${mtrs.libelle_maitrise}"/>
                                                </select>
                                            </div>

                                        </ul>
                                    </div>

                                </section>
                                <h3>Savoir-être</h3>
                                <section>
                                    <div class="panel-body">
                                        <ul th:each="cpt,state :${competences}">
                                            <div th:if="${cpt.categorie.id==3}">
                                                <span class="badge badge-primary" th:text="${state.count}"></span>
                                                <span th:text="${cpt.libelle_competence}" ></span>
                                                <select  name="nivsr"  class="nivsr">
                                                    <option th:each="mtrs : ${maitrises}"
                                                            th:value="${cpt+'-'+employe+'-'+mtrs}"
                                                            th:utext="${mtrs.libelle_maitrise}"/>
                                                </select>
                                            </div>

                                        </ul>
                                    </div>
                                </section>
                                <h3>Terminé</h3>
                                <section>
                                    <div class="form-group clearfix">
                                        <div class="col-lg-12">
                                            <input id="acceptTerms-2" name="acceptTerms2" type="checkbox" class="required">
                                            <label for="acceptTerms-2">Confirmer l'évaluation.</label>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </form>
                    </div>  <!-- End panel-body -->
                </div> <!-- End panel -->

            </div> <!-- end col -->

        </div> <!-- End row -->


    </div>

</div>

</body>
</html>



<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_ecole").click(function () {
            $('#code_ecole').val("");
            $('#libelle_ecole').val("");
            $('#etat_ecole').val("");
            $('#title').text("Nouvel d'un université");
        });

        $('#datatable tbody').on('click','.edit_ecole',function () {
            $('#title').text("Edit d'un ecole");
            $('#save').val("Mèttre à jour");
            var idecole = $('.edit_ecole').attr('data');
            $.ajax({
                url:'/ecole/'+idecole,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#code_ecole').val(data.code_ecole);
                    $('#libelle_ecole').val(data.libelle_ecole);
                    $('#ecoleId').val(data.id);
                    $('#etat_ecole').val(data.etat_ecole);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_ecole').click(function () {
            var data = $(this).attr("data");
            $('#ecole_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
