<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" th:href="@{/assets/images/embleme_senegal.ico}">
    <title>Employés</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <!--<button type="button" id="btn_add_emp" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_emp" >Nouveau <span-->
                    <!--class="m-l-5"><i class="fa fa-plus-square"></i></span></button>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des employés en fin de contrat</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">N°</th>
                                    <th width="10%">Matricule</th>
                                    <th width="25%">Prénom</th>
                                    <th width="25%">Nom</th>
                                    <th width="15%">Date debut</th>
                                    <th width="15%">Date fin</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="emp,state :${employes}">
                                    <td th:text="${state.count}"></td>
                                    <td><a th:href="@{/profilea(id=${emp.id})}"><span th:text="${emp.matricule}"></span></a></td>
                                    <td th:text="${emp.prenom}"></td>
                                    <td th:text="${emp.nom}"></td>
                                    <td th:text="${contrat.date_debut}"></td>
                                    <td th:text="${contrat.date_fin}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->

</div>

</body>
</html>

