<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" th:href="@{/assets/images/embleme_senegal.ico}">
    <title>Matrice</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <!--<button type="button" id="btn_add_emp" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_emp" >Nouveau <span-->
                    <!--class="m-l-5"><i class="fa fa-plus-square"></i></span></button>-->
            <h3><span class="badge badge-primary"> Matrice de polyvalence</span></h3>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--<h3 class="panel-title"><span class="panel panel-primary">Matrice de polyvalence</span></h3>-->
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Employé</th>
                                        <th th:each="cpt :${competences}">
                                            <span class="badge badge-info" th:text="${cpt.code_competence}"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="emp,state :${employes}">
                                        <td><span class="badge badge-info" th:text="${emp.matricule+' '+emp.prenom+' '+emp.nom}"></span></td>
                                        <td th:each="ev :${evaluations}">
                                            <span th:text="${ev.niveauMaitriseCptAquis.libelle_maitrise}"></span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_emp").click(function () {
            //$('#form1').attr('action','/addEmploye');
            $('#matricule').val("");
            $('#prenom').val("");
            $('#nom').val("");
            $('#sexe').val("");
            $('#date_naissance').val("");
            $('#lieu_naissance').val("");
            $('#cni').val("");
            $('#telephone_pers').val("");
            $('#telephone_prof').val("");
            $('#email_prof').val("");
            $('#email_pers').val("");
            $('#date_recrutement').val("");
            $('#adresse').val("");
            $('#ien').val("");
            $('#title').text("Nouvel employé");
            $('#save').val("Enregistrer");
            $('#grade').val(0);
            $('#corps').val(0);
            $('#employeId').val(0);
        });

        $('.edit_emp').click(function () {
            $('#title').text("Edit d'un employé");
            $('#save').val("Mèttre à jour");
            var idemploye = $(this).attr('data');
            $.ajax({
                url:'/employe/'+idemploye,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#matricule').val(data.matricule);
                    $('#prenom').val(data.prenom);
                    $('#nom').val(data.nom);
                    $('#date_naissance').val(data.date_naissance);
                    $('#lieu_naissance').val(data.lieu_naissance);
                    $('#sexe').val(data.sexe);
                    $('#cni').val(data.cni);
                    $('#telephone_prof').val(data.telephone_prof);
                    $('#telephone_pers').val(data.telephone_pers);
                    $('#email_prof').val(data.email_prof);
                    $('#email_pers').val(data.email_pers);
                    $('#corps').val(data.corps.id);
                    $('#grade').val(data.grade.id);
                    $('#adresse').val(data.adresse);
                    $('#date_recrutement').val(data.date_recrutement);
                    $('#ien').val(data.ien);
                    $('#employeId').val(data.id);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_emp').click(function () {
            var data = $(this).attr("data");
            $('#employe_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

        $('.archive_emp').click(function () {
            var data = $(this).attr("data");
            $('#employe_id2').val(data);
            $('#contentArchive').empty();
            $('#contentArchive').append('Êtes-vous sûre de vouloir archiver cet employé ?');
        });

    });
</script>
