<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Motif absence</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_motif_absence" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_motif_absence" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des motif_absences</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">N°</th>
                                    <th width="30%">Code</th>
                                    <th width="30%">Description</th>
                                    <th width="20%">Eta</th>
                                    <th width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dpt,state :${motif_absences}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${dpt.libelle_motif_absence}"></td>
                                    <td th:text="${dpt.nature_absence}"></td>
                                    <td th:text="${dpt.deductible}"></td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_motif_absence" href="#"
                                           role="button" data-toggle="modal" th:data="${dpt.id}" data-target="#modal_form_motif_absence">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_motif_absence" href="#" th:data="${dpt.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_motif_absence" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_motif_absence" th:action="@{/addMotifAbsence}" th:object="${motif_absence}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="motif_absenceId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">libelle_motif_absence</label>
                                    <input id="libelle_motif_absence" th:field="*{libelle_motif_absence}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">nature_absence</label>
                                    <input id="nature_absence" th:field="*{nature_absence}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">deductible</label>
                                    <select name="deductible" id="deductible" th:field="*{deductible}" class="form-control">
                                        <option value="1">Actif</option>
                                        <option value="0">Inactif</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un motif_absence</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeMotifAbsence}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="motif_absence_id" name="motif_absenceId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_motif_absence").click(function () {
            $('#libelle_motif_absence').val("");
            $('#nature_absence').val("");
            $('#deductible').val("");
            $('#title').text("Nouvel d'un département");
        });

        $('.edit_motif_absence').click(function () {
            $('#title').text("Edit d'un motif_absence");
            $('#save').val("Mèttre à jour");
            var idmotif_absence = $(this).attr('data');
            $.ajax({
                url:'/motif_absence/'+idmotif_absence,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#libelle_motif_absence').val(data.libelle_motif_absence);
                    $('#nature_absence').val(data.nature_absence);
                    $('#motif_absenceId').val(data.id);
                    $('#deductible').val(data.deductible);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_motif_absence').click(function () {
            var data = $(this).attr("data");
            $('#motif_absence_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
