<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" th:href="@{/assets/images/embleme_senegal.ico}">
    <title>Prévisions</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <!--<button type="button" id="btn_add_emp" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_emp" >Nouveau <span-->
                    <!--class="m-l-5"><i class="fa fa-plus-square"></i></span></button>-->
            <h4><span class="label label-info"> Prévisions</span></h4>
            <div class="col-md-12">
                <form th:action="@{/repartitionCompetences}" method="get">
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="number" min="55" max="65" id="ageretraite" name="ageretraite" class="form-control" placeholder="Age de la retraite">
                            <input type="number" min="1" max="10" id="anneeprojection" name="anneeprojection" class="form-control" placeholder="Projection en année">
                            <span class="input-group-btn">
                                <button type="submit" class="btn waves-effect waves-light btn-info"><i class="fa fa-search"></i>Rechercher</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
    <div class="row">

        <div th:each="poste:${postes}">
<!--            <div class="col-lg-4" th:each="couleur: ${couleurs}">-->
            <div class="col-lg-4">
<!--                <div th:class="'panel panel-border panel-' + ${couleur[0]}">-->
                <div class="panel panel-border panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${poste.libelle_poste}"></h3>
                    </div>
                    <div class="panel-body">
                        <span class="badge badge-danger">Savoir</span>
                        <div th:each="cpt,state :${competences}">
                            <div th:if="${cpt.categorie.id==1}">
                                <span class="badge badge-primary" th:text="${state.count}"></span>
                                <span th:text="${cpt.libelle_competence}"></span>
                            </div>
                        </div>
                        <span class="badge badge-danger">Savoir-faire</span>
                        <div th:each="cpt,state :${competences}">
                            <div th:if="${cpt.categorie.id==2}">
                                <span class="badge badge-primary" th:text="${state.count}"></span>
                                <span th:text="${cpt.libelle_competence}"></span>
                            </div>
                        </div>
                        <span class="badge badge-danger">Savoir-être</span>
                        <div th:each="cpt,state :${competences}">
                            <div th:if="${cpt.categorie.id==3}">
                                <span class="badge badge-primary" th:text="${state.count}"></span>
                                <span th:text="${cpt.libelle_competence}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->

</div>

</body>
</html>

