<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Type de contrats</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_type_contrat" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_type_contrat" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des type contrats</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">N°</th>
                                    <th width="30%">Libellé</th>
                                    <th width="30%">Description</th>
                                    <th width="20%">Etat</th>
                                    <th width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="tct,state :${type_contrats}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${tct.libelle_type_contrat}"></td>
                                    <td th:text="${tct.description_type_contrat}"></td>
                                    <td th:text="${tct.etat_type_contrat}"></td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_type_contrat" href="#"
                                           role="button" data-toggle="modal" th:data="${tct.id}" data-target="#modal_form_type_contrat">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_type_contrat" href="#" th:data="${tct.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_type_contrat" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_type_contrat" th:action="@{/addTypeContrat}" th:object="${type_contrat}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="type_contratId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">libelle_type_contrat</label>
                                    <input id="libelle_type_contrat" th:field="*{libelle_type_contrat}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">description_type_contrat</label>
                                    <input id="description_type_contrat" th:field="*{description_type_contrat}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Etat</label>
                                    <select name="etat_type_contrat" id="etat_type_contrat" th:field="*{etat_type_contrat}" class="form-control">
                                        <option value="1">Actif</option>
                                        <option value="0">Inactif</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un type_contrat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeTypeContrat}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="type_contrat_id" name="type_contratId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_type_contrat").click(function () {
            $('#libelle_type_contrat').val("");
            $('#description_type_contrat').val("");
            $('#etat_type_contrat').val("");
            $('#title').text("Nouvel d'un type contrat ");
        });

        $('.edit_type_contrat').click(function () {
            $('#title').text("Edit d'un type_contrat");
            $('#save').val("Mèttre à jour");
            var idtype_contrat = $(this).attr('data');
            $.ajax({
                url:'/type_contrat/'+idtype_contrat,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#libelle_type_contrat').val(data.libelle_type_contrat);
                    $('#description_type_contrat').val(data.description_type_contrat);
                    $('#type_contratId').val(data.id);
                    $('#etat_type_contrat').val(data.etat_type_contrat);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_type_contrat').click(function () {
            var data = $(this).attr("data");
            $('#type_contrat_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
