<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>GPEC - DRH</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Start Widget -->
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="pull-left page-title"></h4>
            <ol class="breadcrumb pull-right">
                <li><a href="#">GPEC</a></li>
                <li class="active">Tableau de bord</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bx-shadow bg-info">
                <span class="mini-stat-icon"><i class="ion-document-text"></i></span>
                <div class="mini-stat-info text-right">
                    <span class="counter" th:text="${effectifActuel}"></span>
                    Total
                </div>
                <div class="tiles-progress">
                    <div class="m-t-20">
                        <h5 class="text-uppercase text-white m-0">Nombre d'employés <span class="pull-right"></span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bg-danger bx-shadow">
                <span class="mini-stat-icon"><i class="ion-alert"></i></span>
                <div class="mini-stat-info text-right">
                    <span class="counter" th:text="${fin_contrat}"></span>
                    <a class="text-white" th:href="@{/fincontrat}">Total</a>
                </div>
                <div class="tiles-progress">
                    <div class="m-t-20">
                        <h5 class="text-uppercase text-white m-0">Employés en fin de contrat</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bg-warning bx-shadow">
                <span class="mini-stat-icon"><i class="ion-alert-circled"></i></span>
                <div class="mini-stat-info text-right">
                    <span class="counter" th:text="${retraites}"></span>
                    <a class="text-white" th:href="@{/retraites}">Total</a>
                </div>
                <div class="tiles-progress">
                    <div class="m-t-20">
                        <h5 class="text-uppercase text-white m-0">Employés retraits <span class="pull-right"></span></h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bg-primary bx-shadow">
                <span class="mini-stat-icon"><i class="ion-navigate"></i></span>
                <div class="mini-stat-info text-right">
                    <span class="counter" th:text="${taux_turn_over}"></span>
                    Pourcentage
                </div>
                <div class="tiles-progress">
                    <div class="m-t-20">
                        <h5 class="text-uppercase text-white m-0">Taux de turnover<span class="pull-right"></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end row -->
    <div class="row">


        <div class="col-lg-6">

            <div class="panel panel-border panel-primary">
                <!--<img th:src="@{images/pyramide.PNG}" height="100%" width="100%"/>-->

                <div class="panel-heading">
                    <h3 class="panel-title">Pyradmide des âges</h3>
                </div>
                <div class="panel-body">
                    <figure class="highcharts-figure">
                        <div id="containerpa"></div>
                    </figure>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-border panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Repartition par ancienneté</h3>
                </div>
                <div class="panel-body">
                    <!--<canvas id="lineChart" data-type="Line" width="520" height="300"></canvas>-->

                    <figure class="highcharts-figure">
                        <div id="containerrepa"></div>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-border panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Repartition par sexe</h3>
                </div>
                <div class="panel-body">
                    <figure class="highcharts-figure">
                        <div id="containerreps"></div>
                    </figure>
                    <!--<canvas id="pie" data-type="Pie" height="300" width="800"></canvas>-->
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-border panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Repartition par type de contrat</h3>
                </div>
                <div class="panel-body">
                    <figure class="highcharts-figure">
                        <div id="containerreptc"></div>
                    </figure>
                    <!--<canvas id="doughnut" data-type="Doughnut" height="300" width="800"></canvas>-->
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-border panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Evolution des effectifs(entrée,sorties)</h3>
                </div>
                <div class="panel-body">
                    <figure class="highcharts-figure">
                        <div id="evolutiondeseffectifsentreessorties"></div>
                    </figure>
                    <!--<canvas id="pie" data-type="Pie" height="300" width="800"></canvas>-->
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-border panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Evolution des effectifs par sexe</h3>
                </div>
                <div class="panel-body">
                    <figure class="highcharts-figure">
                        <div id="evolutiondeseffectifsparsexe"></div>
                    </figure>
                    <!--<canvas id="doughnut" data-type="Doughnut" height="300" width="800"></canvas>-->
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-border panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Repartition par département</h3>
                </div>
                <div class="panel-body">
                    <figure class="highcharts-figure">
                        <div id="repartitionpardepartement"></div>
                    </figure>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-border panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Repartition par type de sortie</h3>
                </div>
                <div class="panel-body">
                    <figure class="highcharts-figure">
                        <div id="repartitionpartypedesortie"></div>
                    </figure>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>



