
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Moltran - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" th:href="@{/assets/images/favicon_1.ico}"/>

    <link th:href="@{/assets/plugins/sweetalert/dist/sweetalert.css}" rel="stylesheet" type="text/css"/>

    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/core.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/components.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/pages.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/menu.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/responsive.css}" rel="stylesheet" type="text/css"/>

    <script th:src="@{/assets/js/modernizr.min.js}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


</head>

