<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <title>GPEC - DRH</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" th:href="@{/assets/images/embleme_senegal.ico}">
    <!--Form Wizard-->
    <link th:href="@{/assets/plugins/notifications/notification.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/plugins/jquery.steps/demo/css/jquery.steps.css}">
    <link th:href="@{/assets/plugins/sweetalert/dist/sweetalert.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/core.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/components.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/pages.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/menu.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/responsive.css}" rel="stylesheet" type="text/css"/>
    <!-- DataTables -->
    <link th:href="@{/assets/plugins/datatables/jquery.dataTables.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/plugins/datatables/buttons.bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/plugins/datatables/fixedHeader.bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/plugins/datatables/responsive.bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/plugins/datatables/scroller.bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/assets/js/modernizr.min.js}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->


</head>
<body class="fixed-left">
<!-- Begin page -->
<div id="wrapper">
    <!-- Top Bar Start -->
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <a sec:authorize="hasRole('ROLE_MANAGER')" th:href="@{/profile}">
                    <img th:src="images/men_logo.png" alt="" width="50%" height="50%"/></a>
                <a sec:authorize="hasRole('ROLE_EMPLOYE')" th:href="@{/profile}">
                    <img src="images/men_logo.png" alt="" width="50%" height="50%"/></a>
                <a sec:authorize="hasRole('ROLE_DIRECTEUR')" th:href="@{/accueil}">
                    <img src="images/men_logo.png" alt="" width="50%" height="50%"/></a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users}">
                    <img src="images/men_logo.png" alt="" width="50%" height="50%"/></a>
            </div>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">

                    <div class="pull-left">
                        <button type="button" class="button-menu-mobile open-left">
                            <i class="fa fa-bars"></i>
                        </button>
                        <span class="clearfix"></span>
                    </div>
                    <!--form class="navbar-form pull-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control search-bar" placeholder="Type here for search...">
                        </div>
                        <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                    </form-->

                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="hidden-xs">
                            <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="md md-crop-free"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true"><img th:src="${#authentication.getPrincipal().getEmploye().getSexe()=='M' ? 'images/m.png':'images/f.png'}" alt="user-img" class="img-circle">
                                <span th:text="${#authentication.getPrincipal().getEmploye().getPrenom() +' '+ #authentication.getPrincipal().getEmploye().getNom()}"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!--<li><a th:href="@{/getProfileEmploye(id=${#authentication.getPrincipal().getEmploye().id})}"><i class="md md-face-unlock"></i> Mon profile</a></li>-->
                                <li sec:authorize="hasRole('ROLE_MANAGER') or hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLOYE')"><a th:href="@{/profile}"><i class="md md-face-unlock"></i> Mon profile</a></li>
                                <!--<li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>-->
                                <li><a th:href="@{/logout}"><i class="md md-settings-power"></i> Déconnexion</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- Top Bar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div class="user-details">
                <div class="pull-left">
                    <img th:src="${#authentication.getPrincipal().getEmploye().getSexe()=='M' ? 'images/m.png':'images/f.png'}" width="80%" height="%" alt="user-img" class="img-circle">
                </div>
                <div class="user-info">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" th:text="${#authentication.getPrincipal().getEmploye().getPrenom() +' '+ #authentication.getPrincipal().getEmploye().getNom()}"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" th:href="@{/logout}"><i class="md md-settings-power"></i> Déconnexion</a></li>
                        </ul>
                    </div>
                    <p class="text-muted m-0" th:text="${#authentication.getName()}">Administrateur</p>
                </div>
            </div>
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>
                    <li>
                        <a th:href="@{/accueil}" sec:authorize="hasRole('ROLE_DIRECTEUR')" class="brand-link">
                            <span class="brand-text font-weight-light">Dashboard</span>
                        </a>
                    </li>
<!--                    <li class="has_sub" sec:authorize ifAllGranted="ROLE_ADMIN,ROLE_DIRECTEUR">-->
<!--                    <li class="has_sub" sec:authorize access="hasRole('ROLE_ADMIN') and hasRole('ROLE_DIRECTEUR')">-->
                    <li class="has_sub" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                        <a href="#" class="waves-effect"><i class="md md-brightness-high"></i><span> Parametrage </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">

                            <a th:href="@{/postes}" class="brand-link">
                                <span class="brand-text font-weight-light">Postes</span>
                            </a>
                            <a th:href="@{/competences}" class="brand-link">
                                <span class="brand-text font-weight-light">Competences</span>
                            </a>
                            <a th:href="@{/missions}" class="brand-link">
                                <span class="brand-text font-weight-light">Missions</span>
                            </a>
                            <a th:href="@{/taches}" class="brand-link">
                                <span class="brand-text font-weight-light">Tâches</span>
                            </a>
                            <a th:href="@{/activites}" class="brand-link">
                                <span class="brand-text font-weight-light">Activités</span>
                            </a>
                            <a th:href="@{/exigence_postes}" class="brand-link">
                                <span class="brand-text font-weight-light">Exigences poste</span>
                            </a>
                            <a th:href="@{/poste_competences}" class="brand-link">
                                <span class="brand-text font-weight-light">Poste compétences</span>
                            </a>

                            <a th:href="@{/poste_missions}" class="brand-link">
                                <span class="brand-text font-weight-light">Poste missions</span>
                            </a>

                            <a th:href="@{/poste_taches}" class="brand-link">
                                <span class="brand-text font-weight-light">Poste tâches</span>
                            </a>
                            <a th:href="@{/relation_fonctionnelles}" class="brand-link">
                                <span class="brand-text font-weight-light">Relations fonct</span>
                            </a>
                            <a th:href="@{/emploi_types}" class="brand-link">
                                <span class="brand-text font-weight-light">Emploi Type</span>
                            </a>
                            <a th:href="@{/categorie_competences}" class="brand-link">
                                <span class="brand-text font-weight-light">Catégorie compétence</span>
                            </a>
                            <a th:href="@{/corps}" class="brand-link">
                                <span class="brand-text font-weight-light">Corps</span>
                            </a>
                            <a th:href="@{/grades}" class="brand-link">
                                <span class="brand-text font-weight-light">Grades</span>
                            </a>
                        </ul>
                    </li>
                    <li class="has_sub" sec:authorize="hasRole('ROLE_MANAGER') or hasRole('ROLE_DIRECTEUR')">
                        <a href="#" class="waves-effect"><i class="md md-people"></i><span> Employés </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <a th:href="@{/departements}" class="brand-link" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                                <span class="brand-text font-weight-light">Départements</span>
                            </a>
                            <a th:href="@{/employes}" class="brand-link" >
                                <span class="brand-text font-weight-light">Employés</span>
                            </a>
                            <a th:href="@{/employe_postes}" class="brand-link">
                                <span class="brand-text font-weight-light">Employé postes</span>
                            </a>
                            <a th:href="@{/employe_departements}" class="brand-link" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                                <span class="brand-text font-weight-light">Employé départements</span>
                            </a>
                            <a th:href="@{/employe_dipl_profs}" class="brand-link" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                                <span class="brand-text font-weight-light">Employé diplôme prof</span>
                            </a>
                            <a th:href="@{/employe_dipl_acads}" class="brand-link" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                                <span class="brand-text font-weight-light">Employé diplôme acad</span>
                            </a>
                            <a th:href="@{/diplome_professionnels}" class="brand-link" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                                <span class="brand-text font-weight-light">Diplôme prof</span>
                            </a>
                            <a th:href="@{/diplome_academiques}" class="brand-link" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                                <span class="brand-text font-weight-light">Diplôme acad</span>
                            </a>

                            <a th:href="@{/employe_absences}" class="brand-link" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                                <span class="brand-text font-weight-light">Employes absence</span>
                            </a>

                            <a th:href="@{/employe_type_contrats}" class="brand-link" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                                <span class="brand-text font-weight-light">Employes type contrat</span>
                            </a>

                            <a th:href="@{/absences}" class="brand-link">
                                <span class="brand-text font-weight-light">Absences</span>
                            </a>

                            <a th:href="@{/contrats}" class="brand-link" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                                <span class="brand-text font-weight-light">Contrats</span>
                            </a>

                            <a th:href="@{/type_contrats}" class="brand-link" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                                <span class="brand-text font-weight-light">Type contrats</span>
                            </a>

                            <a th:href="@{/motif_absences}" class="brand-link" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                                <span class="brand-text font-weight-light">Motif absence</span>
                            </a>
                            <a th:href="@{/ecoles}" class="brand-link" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                                <span class="brand-text font-weight-light">Ecole/université</span>
                            </a>

                            <a th:href="@{/annees}" class="brand-link" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                                <span class="brand-text font-weight-light">Années</span>
                            </a>

                        </ul>
                    </li>

                    <!--<li class="has_sub" sec:authorize="hasRole('EMPLOYE')">-->
                        <!--<a href="#" class="waves-effect"><i class="fa fa-user"></i><span> Employé </span><span class="pull-right"><i class="md md-add"></i></span></a>-->
                        <!--<ul class="list-unstyled">-->
                            <!--<li><a th:href="@{/test}" class="menu" id="menu_sys">Mon profile</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <li class="has_sub" sec:authorize="hasRole('ROLE_DIRECTEUR')">
                        <a href="#" class="waves-effect"><i class="fa fa-reorder"></i><span> Evaluation </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <a th:href="@{/matrice}" class="brand-link">
                                <span class="brand-text font-weight-light">Matrice de polyvalence</span>
                            </a>
                            <a th:href="@{/repartitionCompetences}" class="brand-link">
                                <span class="brand-text font-weight-light">Prévisions</span>
                            </a>
                            <a th:href="@{/formations}" class="brand-link">
                                <span class="brand-text font-weight-light">Besoins en formations</span>
                            </a>
<!--                            <a th:href="@{/entretiensannuel}" class="brand-link">-->
<!--                                <span class="brand-text font-weight-light">Entretien annuel</span>-->
<!--                            </a>-->
                        </ul>
                    </li>

                    <li class="has_sub" sec:authorize="hasRole('ADMIN')">
                        <a href="#" class="waves-effect"><i class="fa fa-lock"></i><span> Sécurité </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a th:href="@{/roles}" class="menu" id="menu_sys_profil">Roles</a></li>
                            <li><a th:href="@{/users}" class="menu" id="menu_user">Utilisateur</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <section layout:fragment="content">

                </section>
            </div> <!-- container -->
        </div> <!-- content -->
        <footer class="footer text-right">
            2021 © Moltran.
        </footer>
    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
</div>
<!-- END wrapper -->
<script>
    var resizefunc = [];
</script>




<!-- jQuery  -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/detect.js}"></script>
<script th:src="@{/assets/js/fastclick.js}"></script>
<script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
<script th:src="@{/assets/js/jquery.blockUI.js}"></script>
<script th:src="@{/assets/js/waves.js}"></script>
<script th:src="@{/assets/js/wow.min.js}"></script>
<script th:src="@{/assets/js/jquery.nicescroll.js}"></script>
<script th:src="@{/assets/js/jquery.scrollTo.min.js}"></script>
<script th:src="@{/assets/js/jquery.app.js}"></script>

<script th:src="@{/assets/js/highcharts.js}"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script th:src="@{/assets/js/highchartsdashboard.js}"></script>


<!-- jQuery  -->
<script th:src="@{/assets/plugins/moment/moment.js}"></script>
<!-- jQuery  -->
<script th:src="@{/assets/plugins/waypoints/lib/jquery.waypoints.js}"></script>
<script th:src="@{/assets/plugins/counterup/jquery.counterup.min.js}"></script>
<!-- jQuery  -->
<script th:src="@{/assets/plugins/sweetalert/dist/sweetalert.min.js}"></script>

<!-- jQuery  -->
<script th:src="@{/assets/pages/jquery.todo.js}"></script>
<!-- jQuery  -->
<script th:src="@{/assets/pages/jquery.chat.js}"></script>
<!-- jQuery  -->
<!--<script th:src="@{/assets/pages/jquery.dashboard.js}"></script>-->
<!-- Datatable init js -->
<script th:src="@{/assets/pages/datatables.init.js}"></script>
<!-- Datatables-->
<script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets/plugins/datatables/dataTables.bootstrap.js}"></script>
<script th:src="@{/assets/plugins/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/assets/plugins/datatables/buttons.bootstrap.min.js}"></script>
<script th:src="@{/assets/plugins/datatables/jszip.min.js}"></script>
<script th:src="@{/assets/plugins/datatables/pdfmake.min.js}"></script>
<script th:src="@{/assets/plugins/datatables/vfs_fonts.js}"></script>
<script th:src="@{/assets/plugins/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/assets/plugins/datatables/buttons.print.min.js}"></script>
<script th:src="@{/assets/plugins/datatables/dataTables.fixedHeader.min.js}"></script>
<script th:src="@{/assets/plugins/datatables/dataTables.keyTable.min.js}"></script>
<script th:src="@{/assets/plugins/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/assets/plugins/datatables/responsive.bootstrap.min.js}"></script>
<script th:src="@{/assets/plugins/datatables/dataTables.scroller.min.js}"></script>

<!-- Modal-Effect -->
<script th:src="@{/assets/plugins/modal-effect/js/classie.js}"></script>
<script th:src="@{/assets/plugins/modal-effect/js/modalEffects.js}"></script>

<!--Form Wizard-->
<script th:src="@{/assets/plugins/jquery.steps/build/jquery.steps.min.js}" type="text/javascript"></script>
<script type="text/javascript" th:src="@{/assets/plugins/jquery-validation/dist/jquery.validate.min.js}"></script>


<!-- flot Chart -->
<script th:src="@{/assets/plugins/flot-chart/jquery.flot.js}"></script>
<script th:src="@{/assets/plugins/flot-chart/jquery.flot.time.js}"></script>
<script th:src="@{/assets/plugins/flot-chart/jquery.flot.tooltip.min.js}"></script>
<script th:src="@{/assets/plugins/flot-chart/jquery.flot.resize.js}"></script>
<script th:src="@{/assets/plugins/flot-chart/jquery.flot.pie.js}"></script>
<script th:src="@{/assets/plugins/flot-chart/jquery.flot.selection.js}"></script>
<script th:src="@{/assets/plugins/flot-chart/jquery.flot.stack.js}"></script>
<script th:href="@{/assets/plugins/flot-chart/jquery.flot.crosshair.js}"></script>


<!--wizard initialization-->
<script th:src="@{/assets/pages/jquery.wizard-init.js}" type="text/javascript"></script>

<script th:src="@{/assets/plugins/notifyjs/dist/notify.min.js}"></script>
<script th:src="@{/assets/plugins/notifications/notify-metro.js}"></script>
<script th:src="@{/assets/plugins/notifications/notifications.js}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable( { keys: true } );
        $('#datatable-responsive').DataTable();
        $('#datatable-scroller').DataTable( { ajax: "assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true } );
        var table = $('#datatable-fixed-header').DataTable( { fixedHeader: true } );
    } );
    TableManageButtons.init();
    /* ==============================================
    Counter Up
    =============================================== */
    jQuery(document).ready(function($) {
        $('.counter').counterUp({
            delay: 100,
            time: 1200
        });
    });




</script>


<!--<script th:src="@{/assets/plugins/Chart.js/Chart.min.js}"></script>-->
<!--<script th:src="@{/assets/pages/chartjs.init.js}"></script>-->

</body>
</html>