<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add" class="btn btn-primary" data-toggle="modal" data-target="#modal_form" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des corps</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Libellé</th>
                                        <th>Etat</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="g:${grades}">
                                        <td th:text="${g.id}"></td>
                                        <td th:text="${g.libelle_grade}"></td>
                                        <td th:text="${g.etat_grade}"></td>
                                        <td>
                                            <a onclick="return confirm('Etes-vous sûre de vouloire supprimer ?')" class="btn btn-danger"
                                               th:href="@{/deleteGrade(id=${g.id})}">Delete</a>
                                            <a  class="btn btn-warning"
                                                th:href="@{/editGrade(id=${g.id})}">Edit</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
</div>
</body>
</html>