<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Utilisateurs</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_user" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_user" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des utilisateurs</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="1%">N°</th>
                                    <th width="20%">Prenom</th>
                                    <th width="20%">Nom</th>
                                    <th width="20%">Username</th>
                                    <th width="20%">Département</th>
                                    <th width="10%">Etat</th>
                                    <th width="9%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="u,state :${users}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${u.getEmploye().prenom}"></td>
                                    <td th:text="${u.getEmploye().nom}"></td>
                                    <td th:text="${u.username}"></td>
                                    <td th:text="${u.departement.code_departement}"></td>
                                    <td th:switch="${u.enabled}">
                                        <span th:case="true" class='btn btn-icon waves-effect waves-light btn-success btn-xs m-b-5'><i class='fa fa-toggle-on fa-lg'></i></span>
                                        <span th:case="false" class='btn btn-icon waves-effect waves-light btn-danger btn-xs m-b-5'><i class='fa fa-toggle-on fa-lg'></i></span>
                                    </td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_user" href="#"
                                           role="button" data-toggle="modal" th:data="${u.id}" data-target="#modal_form_user">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_user" href="#" th:data="${u.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
<!--                                        <a class="btn btn-purple btn-xs activeruser_user" href="#" th:data="${u.id}" id="activer"-->
<!--                                           role="button" data-toggle="modal" data-target="#activeModal" title="Activer user">-->
<!--                                            <i class="fa fa-sign-out"></i>-->
<!--                                        </a>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_user" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_user" th:action="@{/addUser}" th:object="${utilisateur}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="userId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Username</label>
                                    <input id="username" th:field="*{username}" class="form-control" type="text" required>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Employe</label>
                                    <select th:field="*{employe}" class="form-control" id="employe">
                                        <option value=""> --- </option>
                                        <option th:each="emp : ${employes}"
                                                th:value="${emp.id}"
                                                th:utext="${emp.prenom + ' '+ emp.nom}"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Département</label>
                                    <select th:field="*{departement}" class="form-control" id="departement">
                                        <option value=""> --- </option>
                                        <option th:each="dpt : ${departements}"
                                                th:value="${dpt.id}"
                                                th:utext="${dpt.code_departement}"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Role</label>
                                    <select th:field="*{roles}" class="form-control" id="roles">
                                        <option value=""> --- </option>
                                        <option th:each="r : ${roles}"
                                                th:value="${r.id}"
                                                th:utext="${r.libelle_role}"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Activer</label>
                                    <select name="enabled" id="enabled" th:field="*{enabled}" class="form-control">
                                        <option value="1">Actif</option>
                                        <option value="0">Inactif</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un utilisateur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeUser}">
                    <div class="modal-body" id="contentConfirm">
                        <div class="form-group">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="user_id" name="userId">
                </form>
            </div>
        </div>
    </div>

<!--    <div class="modal fade" id="activeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="archiveModalLabel">Archiver d'un employé</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <form id="formActive" method="post" th:action="@{/activerDesactiver}">-->
<!--                    <div class="modal-body" id="contentActive">-->
<!--                        <label class="control-label">Activer</label>-->
<!--                        <select name="enabled" id="activerdesactiver" th:field="*{enabled}" class="form-control">-->
<!--                            <option value="1">Actif</option>-->
<!--                            <option value="0">Inactif</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>-->
<!--                        <button type="submit" class="btn btn-danger">Enrégistrer</button>-->
<!--                    </div>-->
<!--                    <input type="hidden" id="user_id2" name="userId">-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_user").click(function () {
            $('#username').val("");
            $('#enabled').val("");
            $('#employe').val("");
            $('#role').val("");
        });

        $('.edit_user').click(function () {
            $('#title').text("Edit d'un user");
            $('#save').val("Mèttre à jour");
            $('#form_user').attr('action','/addUser');
            var iduser = $(this).attr('data');
            $.ajax({
                url:'/user/'+iduser,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#username').val(data.username);
                    $('#enabled').val(data.enabled);
                    //$('#roles').val(data.roles.id);
                    $('#employe').val(data.employe.id);
                    $('#userId').val(data.id);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_user').click(function () {
            var data = $(this).attr("data");
            $('#user_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

<!--        $('#datatable tbody').on('click','.activeruser_user',function () {-->
<!--            var data = $(this).attr("data");-->
<!--            consolr.log(data);-->
<!--            $('#activerdesactiver').val();-->
<!--            $('#user_id2').val(data);-->
<!--            $('#contentActive').empty();-->
<!--            $('#contentActive').append('Êtes-vous sûre de vouloir activer/desactiver ce utilisateur ?');-->
<!--        });-->

    });
</script>
