<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Activités</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_activite" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_activite" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des activités</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="5%">N°</th>
                                    <th width="10%">Code</th>
                                    <th width="70%">Libellé</th>
                                    <th width="5%">Etat</th>
                                    <th width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="act,state :${activites}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${act.code_activite}"></td>
                                    <td th:text="${act.libelle_activite}"></td>
                                    <td th:switch="${act.etat_activite}">
                                        <span th:case="1" class='btn btn-icon waves-effect waves-light btn-success btn-xs m-b-5'><i class='fa fa-toggle-on fa-lg'></i></span>
                                        <span th:case="0" class='btn btn-icon waves-effect waves-light btn-danger btn-xs m-b-5'><i class='fa fa-toggle-on fa-lg'></i></span>
                                    </td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_activite" href="#"
                                           role="button" data-toggle="modal" th:data="${act.id}" data-target="#modal_form_activite">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_activite" href="#" th:data="${act.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_activite" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_activite" th:action="@{/addActivite}" th:object="${activite}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="ActiviteId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
<!--                                    <label class="control-label">Code activité</label>-->
                                    <input id="code_activite" th:field="*{code_activite}" class="form-control" type="hidden" >
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Libelle activité</label>
                                    <input id="libelle_activite" th:field="*{libelle_activite}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Etat</label>
                                    <select name="etat_activite" id="etat_activite" th:field="*{etat_activite}" class="form-control">
                                        <option value="1">Actif</option>
                                        <option value="0">Inactif</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un grade</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeActivite}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="activite_id" name="activiteId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_activite").click(function () {
            $('#libelle_activite').val("");
            $('#etat_activite').val("");
        });

        $('#datatable tbody').on('click','.edit_activite',function () {
            $('#title').text("Edit d'une activite");
            $('#save').val("Mèttre à jour");
            $('#form_activite').attr('action','/addActivite');
            var idactivite = $(this).attr('data');
            $.ajax({
                url:'/activite/'+idactivite,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#code_activite').val(data.code_activite);
                    $('#libelle_activite').val(data.libelle_activite);
                    $('#etat_activite').val(data.etat_activite);
                    $('#ActiviteId').val(data.id);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_activite').click(function () {
            var data = $(this).attr("data");
            $('#activite_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
