<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Compétences</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_competence" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_competence" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des compétence</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="5%">N°</th>
                                    <th width="5%">Code</th>
                                    <th width="60%">Libellé</th>
                                    <th width="10%">Categorie</th>
                                    <th width="15%">Niveau requis</th>
                                    <th width="5%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cpt,state :${competences}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${cpt.code_competence}"></td>
                                    <td th:text="${cpt.libelle_competence}"></td>
                                    <td th:text="${cpt.categorie.libelle_categorie}"></td>
                                    <td th:switch="${cpt.niveauMaitriseCptRequis.libelle_maitrise}">
                                        <span th:case="EXPERT" class='label label-success' th:text="${cpt.niveauMaitriseCptRequis.libelle_maitrise}"></span>
                                        <span th:case="BONNE_MAITRISE" class='label label-primary' th:text="${cpt.niveauMaitriseCptRequis.libelle_maitrise}"></span>
                                        <span th:case="MAITRISE_APRES_FORMATION" class='label label-warning' th:text="${cpt.niveauMaitriseCptRequis.libelle_maitrise}"></span>
                                        <span th:case="AUCUNE_MAITRISE" class='label label-danger' th:text="${cpt.niveauMaitriseCptRequis.libelle_maitrise}"></span>
                                    </td>
<!--                                    <h1 th:text=${createEntry ? 'Create a new Entry:' : 'Edit Entry no. ' + id}" />-->
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_competence" href="#"
                                           role="button" data-toggle="modal" th:data="${cpt.id}" data-target="#modal_form_competence">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_competence" href="#" th:data="${cpt.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_competence" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_competence" th:action="@{/addCompetence}" th:object="${competence}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="competenceId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="code_competence" th:field="*{code_competence}" class="form-control" type="hidden">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Libelle competence</label>
                                    <input id="libelle_competence" th:field="*{libelle_competence}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Catégorie</label>
                                    <select th:field="*{categorie}" class="form-control" id="categorie">
                                        <option value=""> --- </option>
                                        <option th:each="categ : ${categories}"
                                                th:value="${categ.id}"
                                                th:utext="${categ.libelle_categorie}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Niveau requis</label>
                                    <select name="niveauMaitriseCptRequis" th:field="*{niveauMaitriseCptRequis}" class="form-control" id="niveauMaitriseRCpt">
<!--                                        <option value=""> -&#45;&#45; </option>-->
                                        <option th:each="niv : ${niveauMatrises}"
                                                th:value="${niv.id}"
                                                th:utext="${niv.libelle_maitrise}"></option>
<!--                                        <option th:each="niveauMaitriseRCpt : ${T(com.gpec.model.NiveauMaitriseRCpt).values()}"-->
<!--                                                th:value="${niveauMaitriseRCpt}" th:text="${niveauMaitriseRCpt}"></option>-->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Etat</label>
                                    <select name="etat_competence" id="etat_competence" th:field="*{etat_competence}" class="form-control">
                                        <option value="1">Actif</option>
                                        <option value="0">Inactif</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">Est matrice</label>
                                    <select name="est_matrice" id="est_matrice" th:field="*{est_matrice}" class="form-control">
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </div>

<!--                                <div class="form-group">-->
<!--                                    <label class="control-label">Etat</label>-->

<!--                                    <div class="col-md-2">-->
<!--                                        <input name="etat_competence" th:checked="${etat_competence}" value="0" class="form-control etat_competence" type="radio">-->
<!--                                        En attente-->
<!--                                    </div>-->

<!--                                    <div class="col-md-2">-->
<!--                                        <input name="etat_competence" th:checked="${etat_competence}" value="1" class="form-control etat_competence" type="radio" checked>-->
<!--                                        Actif-->
<!--                                    </div>-->
<!--                                </div>-->


                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un compétence</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeCompetence}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="competence_id" name="competenceId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_competence").click(function () {
            $('#libelle_competence').val("");
            $('#title').text("Nouvel competence");
            $('#categorie').val("");
            $('#niveauMaitriseRCpt').val("");
            $('#etat_competence').val("");
        });

        $('#datatable tbody').on('click','.edit_competence',function () {
            $('#title').text("Edit d'une competence");
            $('#save').val("Mèttre à jour");
            var idcpt = $(this).attr('data');
            $.ajax({
                url:'/competence/'+idcpt,
                type:"GET",
                dataType:"json",
                success:function(data){
                    $('#libelle_competence').val(data.libelle_competence);
                    $('#categorie').val(data.categorie.id);
                    $('#code_competence').val(data.code_competence);
                    $('#niveauMaitriseRCpt').val(data.niveauMaitriseRCpt.id);
                    $('#etat_competence').val(data.etat_competence);
                    $('#competenceId').val(data.id);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });

        $('#datatable tbody').on('click','.remove_competence',function () {
            var data = $(this).attr("data");
            $('#competence_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
