<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Corps</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add" class="btn btn-primary" data-toggle="modal" data-target="#modal_form" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des corps</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th width="3%">N°</th>
                                        <th width="50%">Libellé</th>
                                        <th width="3%">Etat</th>
                                        <th width="10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="corp,state :${corp_s}">
                                        <td th:text="${state.count}"></td>
                                        <td th:text="${corp.libelle_corps}"></td>
                                        <td th:switch="${corp.etat_corps}">
                                            <span th:case="1" class='btn btn-icon waves-effect waves-light btn-success btn-xs m-b-5'><i class='fa fa-toggle-on fa-lg'></i></span>
                                            <span th:case="0" class='btn btn-icon waves-effect waves-light btn-danger btn-xs m-b-5'><i class='fa fa-toggle-on fa-lg'></i></span>
                                        </td>
                                        <!--<td th:text="${corp.etat_corps}"></td>-->
                                        <td>
                                            <a class="btn btn-warning btn-xs edit" href="#"
                                                role="button" data-toggle="modal" th:data="${corp.id}" data-target="#modal_form">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <!--<a class="btn btn-danger btn-xs remove" href="#" th:data="${corp.id}">-->
                                                <!--<span class="fa fa-trash"></span>-->
                                            <!--</a>-->
                                            <a class="btn btn-danger btn-xs remove" href="#" th:data="${corp.id}" id="remove"
                                                    role="button" data-toggle="modal" data-target="#confirmModal">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_corps" th:action="@{/addCorps}" th:object="${corps}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="corpsId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Libelle corps</label>
                                    <input id="libelle_corps" th:field="*{libelle_corps}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">Etat</label>
                                    <select name="etat_corps" id="etat_corps" th:field="*{etat_corps}" class="form-control">
                                        <option value="1">Actif</option>
                                        <option value="0">Inactif</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un corps</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeCorps}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="corps_id" name="corpsId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add").click(function () {
            $('#form1').attr('action','/addCorps');
            $('#libelle_corps').val("");
            $('#etat_corps').val("");
            //$('#corpsId').val();
            //$('#title').text("Edit d'un corps");
        });

        $('#datatable tbody').on('click','.edit',function () {
            $('#title').text("Edit d'un corps");
            $('#save').val("Mèttre à jour");

            $('#form_corps').attr('action','/addCorps');
            //get($, $(this));
            var idcorps = $('.edit').attr('data');
            $.ajax({
                url:'/corps/'+idcorps,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#libelle_corps').val(data.libelle_corps);
                    $('#etat_corps').val(data.etat_corps);
                    $('#corpsId').val(data.id);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove').click(function () {
            //var data = $(this).attr("data");
            var data = $(this).attr("data");
            $('#corps_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
