<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Exigences poste</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_grade" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_exigPoste" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des Exigences poste</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">N°</th>
                                    <th width="20%">Formation initiale</th>
                                    <th width="30%">Experience professionnelle</th>
                                    <th width="30%">Condition_exercice</th>
                                    <th width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="exi,state :${exigence_postes}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${exi.formation_initiale}"></td>
                                    <td th:text="${exi.experience_professionnelle}"></td>
                                    <td th:text="${exi.condition_exercice}"></td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_exigPoste" href="#"
                                           role="button" data-toggle="modal" th:data="${exi.id}" data-target="#modal_form_exigPoste">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_exigPoste" href="#" th:data="${exi.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_exigPoste" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_exigPoste" th:action="@{/addExigencePoste}" th:object="${exigence_poste}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="exigPosteId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Formation initiale</label>
                                    <input id="formation_initiale" th:field="*{formation_initiale}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Expérience professionelle</label>
                                    <input id="experience_professionnelle" th:field="*{experience_professionnelle}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Condition existence</label>
                                    <input id="condition_exercice" th:field="*{condition_exercice}" class="form-control" type="text" required>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'une exigence</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeExigencePoste}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="exigPoste_id" name="exigPosteId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {
        $("#btn_add_exigPoste").click(function () {
            $('#formation_initiale').val("");
            $('#title').text("Nouvel exigence poste");
            $('#experience_professionnelle').val("");
            $('#condition_exercice').val("");
        });

        $('.edit_exigPoste').click(function () {
            $('#title').text("Edit d'une exigence");
            $('#save').val("Mèttre à jour");
            var idexig = $(this).attr('data');
            $.ajax({
                url:'/exigence_poste/'+idexig,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#formation_initiale').val(data.formation_initiale);
                    $('#experience_professionnelle').val(data.experience_professionnelle);
                    $('#condition_exercice').val(data.condition_exercice);
                    $('#exigPosteId').val(data.id);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_exigPoste').click(function () {
            var data = $(this).attr("data");
            $('#exigPoste_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
