<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Missions</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_mission" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_mission" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des mission</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">N°</th>
                                    <th width="50%">Libellé</th>
                                    <th width="30%">Etat</th>
                                    <th width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="miss,state :${missions}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${miss.libelle_mission}"></td>
                                    <td th:switch="${miss.etat_mission}">
                                        <span th:case="1" class='btn btn-icon waves-effect waves-light btn-success btn-xs m-b-5'><i class='fa fa-toggle-on fa-lg'></i></span>
                                        <span th:case="0" class='btn btn-icon waves-effect waves-light btn-danger btn-xs m-b-5'><i class='fa fa-toggle-on fa-lg'></i></span>
                                    </td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_mission" href="#"
                                           role="button" data-toggle="modal" th:data="${miss.id}" data-target="#modal_form_mission">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_mission" href="#" th:data="${miss.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_mission" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_mission" th:action="@{/addMission}" th:object="${mission}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="missionId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Libelle mission</label>
                                    <input id="libelle_mission" th:field="*{libelle_mission}" class="form-control" type="text" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">Etat</label>
                                    <select name="etat_mission" id="etat_mission" th:field="*{etat_mission}" class="form-control">
                                        <option value="1">Actif</option>
                                        <option value="0">Inactif</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un grade</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removeMission}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="mission_id" name="missionId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_mission").click(function () {
            $('#libelle_mission').val("");
            $('#etat_mission').val("");
        });

        $('.edit_mission').click(function () {
            $('#title').text("Edit d'un mission");
            $('#save').val("Mèttre à jour");
            var idmiss = $(this).attr('data');
            $.ajax({
                url:'/mission/'+idmiss,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#libelle_mission').val(data.libelle_mission);
                    $('#etat_mission').val(data.etat_mission);
                    $('#missionId').val(data.id);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_mission').click(function () {
            var data = $(this).attr("data");
            $('#mission_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
