<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Postes</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_poste" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_poste" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des postes</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">N°</th>
                                    <th width="20%">Code</th>
                                    <th width="50%">Libellé</th>
                                    <th width="10%">Etat</th>
                                    <th width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="post,state :${postes}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${post.code_poste}"></td>
                                    <td th:text="${post.libelle_poste}"></td>
                                    <td th:switch="${post.etat_poste}">
                                        <span th:case="1" class='btn btn-icon waves-effect waves-light btn-success btn-xs m-b-5'><i class='fa fa-toggle-on fa-lg'></i></span>
                                        <span th:case="0" class='btn btn-icon waves-effect waves-light btn-danger btn-xs m-b-5'><i class='fa fa-toggle-on fa-lg'></i></span>
                                    </td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_poste" href="#"
                                           role="button" data-toggle="modal" th:data="${post.id}" data-target="#modal_form_poste">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_poste" href="#" th:data="${post.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>

                                        <a  class="btn btn-info btn-xs" th:href="@{/generateFichePoste(id=${post.id})}" data-toggle="tooltip" data-placement="top" title="Fiche de poste">
                                            <i class="fa fa-file-pdf-o"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_poste" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_poste" th:action="@{/addPoste}" th:object="${poste}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="posteId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
<!--                                    <label class="control-label">code poste</label>-->
                                    <input id="code_poste" th:field="*{code_poste}" class="form-control" type="hidden">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Libelle poste</label>
                                    <input id="libelle_poste" th:field="*{libelle_poste}" class="form-control" type="text" required>
                                </div>


                                <div class="form-group">
                                    <label class="control-label">Poste exigences</label>
                                    <select th:field="*{exigencePoste}" class="form-control" id="exigencePoste">
                                        <option value=""> --- </option>
                                        <option th:each="exig : ${exigence_postes}"
                                                th:value="${exig.id}"
                                                th:utext="${exig.formation_initiale+' '+exig.condition_exercice}"></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Emploi type</label>
                                    <select th:field="*{emploiType}" class="form-control" id="emploiType">
                                        <option value=""> --- </option>
                                        <option th:each="empt : ${emploiTypes}"
                                                th:value="${empt.id}"
                                                th:utext="${empt.libelle_emploi_type}"></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Etat</label>
                                    <select name="etat_poste" id="etat_poste" th:field="*{etat_poste}" class="form-control">
                                        <option value="1">Actif</option>
                                        <option value="0">Inactif</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un poste</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removePoste}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="poste_id" name="posteId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_poste").click(function () {
            $('#libelle_poste').val("");
            $('#code_poste').val("");
            $('#etat_poste').val("");
            $('#exigencePoste').val("");
            $('#title').text("Nouvel d'un poste");
        });

        $('#datatable tbody').on('click','.edit_poste',function () {
            $('#title').text("Edit d'un poste");
            $('#save').val("Mèttre à jour");
            var idposte = $(this).attr('data');
            $.ajax({
                url:'/poste/'+idposte,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#libelle_poste').val(data.libelle_poste);
                    $('#code_poste').val(data.code_poste);
                    $('#exigencePoste').val(data.exigencePoste.id);
                    $('#emploiType').val(data.emploiType.id);
                    $('#posteId').val(data.id);
                    $('#etat_poste').val(data.etat_poste);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_poste').click(function () {
            var data = $(this).attr("data");
            $('#poste_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
