<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Postes tâches</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_posteTache" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_posteTache" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des postes liés aux tâches</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">N°</th>
                                    <th width="20%">Poste</th>
                                    <th width="20%">tache</th>
                                    <th width="20%">Date début</th>
                                    <th width="20%">Date fin</th>
                                    <th width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="postac,state :${poste_taches}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${postac.poste.libelle_poste}"></td>
                                    <td th:text="${postac.tache.libelle_tache}"></td>
                                    <td th:text="${#dates.format(postac.date_debut, 'dd/MM/yyyy')}"></td>
                                    <td th:text="${#dates.format(postac.date_fin, 'dd/MM/yyyy')}"></td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_posteTache" href="#"
                                           role="button" data-toggle="modal" th:data="${postac.id}" data-target="#modal_form_posteTache">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_posteTache" href="#" th:data="${postac.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_posteTache" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_posteTache" th:action="@{/addPosteTache}" th:object="${poste_tache}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="posteTacheId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Postes</label>
                                    <select th:field="*{poste}" class="form-control" id="poste">
                                        <option value=""> --- </option>
                                        <option th:each="post : ${postes}"
                                                th:value="${post.id}"
                                                th:utext="${post.libelle_poste}"></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Tâches</label>
                                    <select th:field="*{tache}" class="form-control" id="tache">
                                        <option value=""> --- </option>
                                        <option th:each="tach : ${taches}"
                                                th:value="${tach.id}"
                                                th:utext="${tach.libelle_tache}"></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">Date de début</label>
                                    <input id="date_debut" th:field="*{date_debut}" class="form-control" type="date">
                                </div>

<!--                                <div class="form-group">-->
<!--                                    <label class="control-label col-md-4">Date de fin</label>-->
<!--                                    <input id="date_fin" th:field="*{date_fin}" class="form-control" type="date">-->
<!--                                </div>-->

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removePosteTache}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>
                    <input type="hidden" id="posteTache_id" name="posteTacheId">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_posteTache").click(function () {
            $('#poste').val("");
            $('#tache').val("");
            $('#title').text("Nouveau");
        });

        $('.edit_posteTache').click(function () {
            $('#title').text("Edit d'un poste");
            $('#save').val("Mèttre à jour");
            var idpost = $(this).attr('data');
            $.ajax({
                url:'/poste_tache/'+idpost,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#poste').val(data.poste.id);
                    $('#tache').val(data.tache.id);
                    $('#date_debut').val(data.date_debut);
                    $('#posteTacheId').val(data.id);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_posteTache').click(function () {
            var data = $(this).attr("data");
            $('#posteTache_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });

    });
</script>
