<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Poste-Compétences</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 30px">
            <button type="button" id="btn_add_posteCpt" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_posteCpt" >Nouveau <span
                    class="m-l-5"><i class="fa fa-plus-square"></i></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des postes liés aux compétences</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">N°</th>
                                    <th width="20%">Poste</th>
                                    <th width="20%">Compétence</th>
                                    <th width="20%">Date début</th>
                                    <th width="20%">Date fin</th>
                                    <th width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="postCpt,state :${poste_competences}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${postCpt.poste.code_poste}"></td>
                                    <td th:text="${postCpt.competence.code_competence}"></td>
                                    <td th:text="${#dates.format(postCpt.date_debut, 'dd/MM/yyyy')}"></td>
                                    <td th:text="${#dates.format(postCpt.date_fin, 'dd/MM/yyyy')}"></td>
                                    <td>
                                        <a class="btn btn-warning btn-xs edit_posteCpt" href="#"
                                           role="button" data-toggle="modal" th:data="${postCpt.id}" data-target="#modal_form_posteCpt">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs remove_posteCpt" href="#" th:data="${postCpt.id}" id="remove"
                                           role="button" data-toggle="modal" data-target="#confirmModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->
    <!-- sample modal content -->
    <div id="modal_form_posteCpt" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_formLabel" aria-hidden="true">
        <form action="#" id="form_posteCpt" th:action="@{/addPosteCompetence}" th:object="${poste_competence}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="title">Title</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="posteCptId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Postes</label>
                                    <select th:field="*{poste}" class="form-control" id="poste">
                                        <option value=""> --- </option>
                                        <option th:each="pos : ${postes}"
                                                th:value="${pos.id}"
                                                th:utext="${pos.code_poste+' : '+pos.libelle_poste}"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Compétence</label>
                                    <select th:field="*{competence}" class="form-control" id="competence">
                                        <option value=""> --- </option>
                                        <option th:each="cpt : ${competences}"
                                                th:value="${cpt.id}"
                                                th:utext="${cpt.code_competence+' : '+cpt.libelle_competence}"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Date de début</label>
                                    <input id="date_debut" th:field="*{date_debut}" class="form-control" type="date">
                                </div>

<!--                                <div class="form-group">-->
<!--                                    <label class="control-label col-md-4">Date de fin</label>-->
<!--                                    <input id="date_fin" th:field="*{date_fin}" class="form-control" type="date">-->
<!--                                </div>-->
                            </div>
<!--                            <div class="col-md-6">-->
<!--                                <div class="table-responsive">-->
<!--                                    <table class="table table-bordered" id="dynamic_field">-->
<!--                                        <tr>-->
<!--                                            <td><input type="text" name="name[]" placeholder="Enter your Name" class="form-control name_list" /></td>-->
<!--                                            <td><button type="button" name="add" id="add" class="btn btn-success">Add More</button></td>-->
<!--                                        </tr>-->
<!--                                    </table>-->
<!--                                </div>-->
<!--                               -->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" id="save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Suppression d'un poste compétence</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form2" method="post" th:action="@{/removePosteCompetence}">
                    <div class="modal-body" id="contentConfirm">

                    </div>
                    <input type="hidden" id="posteCpt_id" name="poste_competenceId">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>




<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_add_posteCpt").click(function () {
            $('#poste').val("");
            $('#title').text("Nouveau");
            $('#competence').val("");
        });

        $('.edit_posteCpt').click(function () {
            $('#title').text("Edit d'un grade");
            $('#save').val("Mèttre à jour");
            var idpostCpt = $(this).attr('data');
            $.ajax({
                url:'/poste_competence/'+idpostCpt,
                type:"GET",
                dataType:"json",
                success:function (data) {
                    $('#poste').val(data.poste.id);
                    $('#competence').val(data.competence.id);
                    $('#date_debut').val(data.date_debut);
                    $('#posteCptId').val(data.id);
                },
                error:function (err) {
                    console.log(err);
                }
            });
        });


        $('.remove_posteCpt').click(function () {
            var data = $(this).attr("data");
            $('#posteCpt_id').val(data);
            $('#contentConfirm').empty();
            $('#contentConfirm').append('Êtes-vous sûre de vouloir supprimer ?');
        });



<!--      var i=1;-->
<!--      $('#add').click(function(){-->
<!--           i++;-->
<!--           $('#dynamic_field').append('<tr id="row'+i+'"><td><input type="text" name="name[]" placeholder="Enter your Name" class="form-control name_list" /></td><td><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></td></tr>');-->
<!--      });-->
<!--      $(document).on('click', '.btn_remove', function(){-->
<!--           var button_id = $(this).attr("id");-->
<!--           $('#row'+button_id+'').remove();-->
<!--      });-->

});
</script>
