<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>GPEC - DRH</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" th:href="@{/assets/images/embleme_senegal.ico}">

    <link th:href="@{assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{assets/css/core.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{assets/css/icons.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{assets/css/components.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{assets/css/pages.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{assets/css/menu.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{assets/css/responsive.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{assets/js/modernizr.min.js}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


</head>
<body>


<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages">
        <div th:if="${param.error}">
            <p style="color:red;">Login ou mot de passe incorrect !!!</p>
        </div>
        <div class="panel-heading bg-img">
            <div class="bg-overlay"></div>
            <h3 class="text-center m-t-10 text-white"> <strong>GPEC-DRH-MEN</strong> </h3>
        </div>


        <div class="panel-body">

            <form method="post" th:action="@{/login}">

                <div class="form-group">
                    <label for="username"></label>
                    <input class="form-control" name="username" id="username" type="text" placeholder="Username"/>
                </div>

                <div class="form-group">
                    <label for="password"></label>
                    <input class="form-control" name="password" id="password" type="password" placeholder="Password"/>
                </div>

                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg w-lg waves-effect waves-light" type="submit">Se connecter</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>


<script>
    var resizefunc = [];
</script>

<!-- Main  -->
<script th:src="@{assets/js/jquery.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/detect.js}"></script>
<script th:src="@{assets/js/fastclick.js}"></script>
<script th:src="@{assets/js/jquery.slimscroll.js}"></script>
<script th:src="@{assets/js/jquery.blockUI.js}"></script>
<script th:src="@{assets/js/waves.js}"></script>
<script th:src="@{assets/js/wow.min.js}"></script>
<script th:src="@{assets/js/jquery.nicescroll.js}"></script>
<script th:src="@{assets/js/jquery.scrollTo.min.js}"></script>

<script th:src="@{assets/js/jquery.app.js}"></script>

</body>
</html>