<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" th:href="@{/assets/images/embleme_senegal.ico}">
    <title>GPEC - DRH</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wraper container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class=" text-center" style="background-image:url('assets/images/big/bg.jpg')">
                    <div class="bg-picture-overlay"></div>
                    <div class="profile-info-name">
                        <img th:src="${#authentication.getPrincipal().getEmploye().getSexe()=='M' ? 'images/m.png':'images/f.png'}" class="thumb-lg img-circle img-thumbnail" alt="profile-image">
                        <h3 th:text="${employe.prenom}+' '+ ${employe.nom}" class="text-white"></h3>
                    </div>
                </div>
                <!--/ meta -->
            </div>
        </div>
        <div class="row user-tabs">
            <div class="col-sm-9 col-lg-6">
                <ul class="nav nav-tabs tabs">
                    <li class="active tab">
                        <a href="#home-2" data-toggle="tab" aria-expanded="false" class="active">
                            <span class="visible-xs"><i class="fa fa-home"></i></span>
                            <span class="hidden-xs">Données</span>
                        </a>
                    </li>
                    <li class="tab">
                        <a href="#profile-2" data-toggle="tab" aria-expanded="true">
                            <span class="visible-xs"><i class="fa fa-user"></i></span>
                            <span class="hidden-xs">Compétences</span>
                        </a>
                    </li>
                    <li class="tab">
                        <a href="#messages-2" data-toggle="tab" aria-expanded="true">
                            <span class="visible-xs"><i class="fa fa-envelope-o"></i></span>
                            <span class="hidden-xs">Tâches</span>
                        </a>
                    </li>
                    <li class="tab">
                        <a href="#settings-2" data-toggle="tab" aria-expanded="true">
                            <span class="visible-xs"><i class="fa fa-cog"></i></span>
                            <span class="hidden-xs">Exigences</span>
                        </a>
                    </li>
                    <li class="tab">
                        <a href="#" data-toggle="tab" aria-expanded="true">
                            <span class="label label-success">Poste:</span> <span class="label label-danger" th:text="${poste.libelle_poste}"></span>
                        </a>
                    </li>
                    <div class="indicator"></div></ul>
            </div>
            <!--<div class="hidden-xs col-sm-3 col-lg-6">-->
                <!--<div class="pull-right">-->
                    <!--<div class="dropdown">-->
                        <!--&lt;!&ndash;<a data-toggle="dropdown" class="dropdown-toggle btn-rounded btn btn-primary waves-effect waves-light" href="#"> Following <span class="caret"></span></a>&ndash;&gt;-->
                        <!--<ul class="dropdown-menu dropdown-menu-right" role="menu">-->
                            <!--<li><a href="#">Poke</a></li>-->
                            <!--<li><a href="#">Private message</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="#">Unfollow</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="tab-content profile-tab-content">
                    <div class="tab-pane active" id="home-2">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Personal-Information -->
                                <div class="panel panel-default panel-fill">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><span class="label label-info">Informations personnelles</span></h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="about-info-p">
                                            <strong>Nom complet</strong>
                                            <br>
                                            <p class="text-muted" th:text="${employe.prenom}+' '+ ${employe.nom}"></p>
                                        </div>
                                        <div class="about-info-p">
                                            <strong>Mobile</strong>
                                            <br>
                                            <p class="text-muted" th:text="${employe.telephone_pers}"></p>
                                        </div>
                                        <div class="about-info-p">
                                            <strong>Email</strong>
                                            <br>
                                            <p class="text-muted" th:text="${employe.email_pers}"></p>
                                        </div>
                                        <div class="about-info-p m-b-0">
                                            <strong>Adresse</strong>
                                            <br>
                                            <p class="text-muted" th:text="${employe.adresse}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default panel-fill">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><span class="label label-info">Informations professionnelles</span></h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="about-info-p">
                                            <strong>Corps</strong>
                                            <br>
                                            <p class="text-muted" th:text="${employe.corps.libelle_corps}"></p>
                                        </div>
                                        <div class="about-info-p">
                                            <strong>Grade</strong>
                                            <br>
                                            <p class="text-muted" th:text="${employe.grade.libelle_grade}"></p>
                                        </div>
                                        <div class="about-info-p">
                                            <strong>téléphone profess</strong>
                                            <br>
                                            <p class="text-muted" th:text="${employe.telephone_prof}"></p>
                                        </div>
                                        <div class="about-info-p m-b-0">
                                            <strong>Email profess</strong>
                                            <br>
                                            <p class="text-muted" th:text="${employe.email_prof}"></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default panel-fill">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"> <span class="label label-primary">Les diplômes académiques</span></h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul th:each="diplAcad,state :${employe.getEmploye_diplomeAcademiques()}">
                                            <li th:text="${diplAcad.getDiplome_academique().libelle_dipl_acad}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default panel-fill">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"> <span class="label label-primary">Les diplômes professionnels</span></h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul th:each="diplProf,state :${employe.getEmploye_diplomeProfs()}">
                                            <li th:text="${diplProf.getDiplome_professionnel().libelle_dipl_prof}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>




                    <div class="tab-pane" id="profile-2">
                        <!-- Languages -->
                        <div class="panel panel-default panel-fill col-md-12">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="label label-info">Compétences</span></h3>
                            </div>
                            <div class="panel-body">
                                <ul th:each="cpt,state :${competences}">
                                    <li th:text="${cpt.libelle_competence}"></li>
                                </ul>
                            </div>
                        </div>


                        <div class="panel panel-border panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Compétences</h3>
                            </div>
                            <div class="panel-body">
                                <figure class="highcharts-figure">
                                    <div id="radcontainercpt"></div>
                                </figure>
                            </div>
                        </div>
                    </div>



                    <div class="tab-pane" id="messages-2">
                        <div class="panel panel-default panel-fill">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="label label-info">Tâches</span></h3>
                            </div>
                            <div class="panel-body">
                                <ul th:each="tach,state :${taches}">
                                    <li th:text="${tach.libelle_tache}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane" id="settings-2">
                        <div class="panel panel-default panel-fill">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="label label-info">Exigences du poste</span></h3>
                            </div>
                            <div class="panel-body">
                                <ul th:each="exg,state :${exigencePostes}">
                                    <li>Exigence professionnelle : <span class="label label-info" th:text="${exg.experience_professionnelle}"></span></li>
                                    <li>Condition exercice : <span class="label label-success" th:text="${exg.condition_exercice}"></span></li>
                                    <li>Formation initiale : <span class="label label-purple" th:text="${exg.formation_initiale}"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->

</div>

</body>
</html>
<script src="/assets/js/highchartscomptence.js"></script>







